.button-primary {
    background-color: #3f51b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button-secondary {
    background-color: #f50057;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .nav {
    background-color: #49386d;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    position: sticky;
    top: 0;
  }
  
  .hero {
    height: 650px;
    background-image: url("../../../../../assets/img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero__text {
    color: whitesmoke;
    text-align: center;
    background-color: white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid white;
    background-color: #49386da6;
    padding: 15px;
    border-radius: 5px;
  }
  
  .hero__text h1 {
    font-size: 1.5rem;
  }
  
  @media screen and (min-width: 768px) {
    .hero__text {
      width: 70%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .hero__text {
      width: 50%;
    }
  }