.lista-artistas-container {
    margin: 2em auto;
    padding: 20px;
    background-color: #1a1a2e;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
  }
  
  .lista-artistas-container ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
  }
  
  .lista-artistas-container li {
    margin-bottom: 20px;
    color: #ffffff;
    padding: 15px;
    border: 1px solid #ff7f7f;
    border-radius: 10px;
    background: linear-gradient(145deg, #0c0f1b, #202837);
    box-shadow: 5px 5px 15px #0a0c1a, -5px -5px 15px #2a2e4a;
    transition: all 0.3s ease-in-out;
  }
  
  .lista-artistas-container li:hover {
    transform: scale(1.05);
    background: linear-gradient(145deg, #202837, #0c0f1b);
  }
  
  .lista-artistas-container li button,
  .lista-artistas-container li a {
    background-color: #e94560;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lista-artistas-container li button:hover,
  .lista-artistas-container li a:hover {
    background-color: #8e44ad;
  }
  
  .lista-artistas-container .crear-nuevo {
    background-color: #008cba;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 1em 0;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .lista-artistas-container .crear-nuevo:hover {
    background-color: #007bbd;
  }
  
  .lista-artistas-container .botones {
    display: flex;
    gap: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #e94560;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #8e44ad;
  }
  
  .pagination button.active {
    background-color: #8e44ad;
  }