body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.event-list h1 {
  color: #1db954; /* Verde Spotify */
  font-size: 2.5em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1db954;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.event-card img:hover {
  filter: grayscale(0);
}

.event-card a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: color 0.3s;
}

.event-card a:hover {
  color: #1db954; /* Verde Spotify */
}

@media (max-width: 480px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}