.formulario-evento-container {
  background-color: #0000ff; 
  font-family: Arial, sans-serif;
  margin-top: 100px;  
}
.formulario-evento-container h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.formulario-evento-container form {
  background-color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-evento-container form input,
.formulario-evento-container form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.formulario-evento-container form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1e90ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.formulario-evento-container form button:hover {
  background-color: #4169e1;
}


